{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - Online Image Editor</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom CSS -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="login-container">
        <h2>Sign In</h2>

        <div class="alert-info-custom">
            <h5><i class="fas fa-info-circle"></i> Demo Credentials:</h5>
            <h5>Username: pstu <br> Password: pstu</h5>
        </div>

        {% if form.errors %}
        <div class="alert-message">
            <i class="fas fa-exclamation-triangle"></i> Invalid username or password.
        </div>
        {% endif %}

        <form action="{% url 'login' %}?next={% url 'home' %}" method="post">
            {% csrf_token %}

            <div class="input-box">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit" class="btn-submit">
                Login
            </button>

        </form>
    </div>

</body>

</html>