{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>
        body {

background-color: whitesmoke;
            background-repeat: no-repeat;
            min-height: 100vh;
        }

        img {
            width: 50%;
        }

        .navbar {
            z-index: 5;
        }

        .oka{
            border-radius: 10px;

background-color: #2d3436;
background-image: linear-gradient(200deg, #2d3436 0%, #d3d3d3 74%);



        }

        .oka:hover{
             background-color: #f5d020;
            background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
        }



    </style>
</head>
<body>

{#------------------------------------------------------------------------------------------------------#}
{#------------------------------------------------------------------------------------------------------#}

{#------------------------------------------------------------------------------------------------------#}
<div class="container-fluid mt-3">

    <nav class="navbar navbar-expand-md navbar-light shadow " style="background-color: #ffffff;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 10px">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">

                <div class="icon mr-2 oka" >
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'brightness_plus' %}"> <i class="fas fa-sun"> Add Brightness</i> </a>
                    </li>
                </div>

                <div class="icon mr-2 oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'brightness_minus' %}"> <i class="fas fa-sun"> Remove Brightness</i> </a>
                    </li>
                </div>

                <div class="icon  mr-2 oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'toGray' %}"> <i class="fas fa-exchange-alt"></i> Gray</i> </a>
                    </li>
                </div>

                 <div class="icon   mr-2 oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'negative' %}"> <i class="fas fa-exchange-alt"></i> Negative</i> </a>
                    </li>
                </div>

                 <div class="icon  mr-2 oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'undo' %}"> <i class="fas fa-exchange-alt"></i> Undo</i> </a>
                    </li>
                </div>

                <div class="icon mr-2 oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'crop' %}"> <i class="fas fa-exchange-alt"></i> Crop</i> </a>
                    </li>
                </div>




                <div class="icon oka">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">New Image</i> </a>
                    </li>
                </div>



            </ul>



        </div>


    </nav>


</div>
{#------------------------------------------------------------------------------------------------------#}



{#------------------------------------------------------------------------------------------------------#}
<div class="container-fluid">


    <div class="row" style="margin-top: 3%">

        <div class="col-md-6 text-center">
                    <img class="shadow-lg p-2 mb-5 bg-white rounded" style="height: 70vh;width: auto;" src='{{ obg.image.url }}' alt="">

        </div>

        <div class="col-md-6 text-center">
            {% if obg.editImage %}
                <img class="shadow-lg p-2 mb-5 bg-white rounded" style="height: 70vh;width: auto;max-width: 95%" src='{{ obg.editImage.url }}' alt="">
            {% endif %}
        </div>

    </div>
</div>
{#------------------------------------------------------------------------------------------------------#}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>